In [1]:
import pandas as pd

In [5]:
df_books = pd.read_csv('/content/bestsellers-with-categories.csv')

In [6]:
df_books.head(5)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

#pivot_table

In [13]:
""" 
Como resultado, los valores de Author pasan a formar el índice por fila 
y los valores de Genre pasan a formar parte de los índices por columna, 
mientras que, el User Rating se mantiene como valor. 
"""

df_books.pivot_table(index='Author', columns='Genre', values='User Rating')

Genre                       Fiction  Non Fiction
Author
Abraham Verghese                4.6          NaN
Adam Gasiewski                  NaN     4.400000
Adam Mansbach                   4.8          NaN
Adir Levy                       4.8          NaN
Admiral William H. McRaven      NaN     4.700000
...                             ...          ...
Walter Isaacson                 NaN     4.566667
William Davis                   NaN     4.400000
William P. Young                4.6          NaN
Wizards RPG Team                4.8          NaN
Zhi Gang Sha                    NaN     4.600000

[248 rows x 2 columns]

In [14]:
"""
En esta caso, tenemos por cada género la suma a lo largo de los años, y además de la suma,
podemos obtener más valores como media, desviación estándar, el conteo, la varianza, etc; únicamente,
cambiando el parámetro de la función de agrupamiento aggfunc() 
"""

df_books.pivot_table(index='Genre', columns='Year',values='User Rating', aggfunc='sum')

Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Genre,,,,,,,,,,,
Fiction,110.2,92.3,97.0,94.4,109.1,134.3,79.1,89.6,113.7,99.5,96.4
Non Fiction,119.0,135.6,130.9,132.2,118.6,96.8,153.3,144.3,119.3,133.9,140.6

#Melt

El método melt toma las columnas del DataFrame y las pasa a filas, con dos nuevas columnas para especificar la antigua columna y el valor que traía.

In [15]:
df_books[['Name', 'Genre']].head(5)

                                                Name        Genre
0                      10-Day Green Smoothie Cleanse  Non Fiction
1                                  11/22/63: A Novel      Fiction
2            12 Rules for Life: An Antidote to Chaos  Non Fiction
3                             1984 (Signet Classics)      Fiction
4  5,000 Awesome Facts (About Everything!) (Natio...  Non Fiction

In [17]:
#Aplicando melt cada resultado de las dos columnas pasa a una fila de tipo: llave:valor.
df_books[['Name', 'Genre']].head(5).melt()

  variable                                              value
0     Name                      10-Day Green Smoothie Cleanse
1     Name                                  11/22/63: A Novel
2     Name            12 Rules for Life: An Antidote to Chaos
3     Name                             1984 (Signet Classics)
4     Name  5,000 Awesome Facts (About Everything!) (Natio...
5    Genre                                        Non Fiction
6    Genre                                            Fiction
7    Genre                                        Non Fiction
8    Genre                                            Fiction
9    Genre                                        Non Fiction

In [18]:
#De la siguiente manera indico las columnas a las que no quiero hacer melt con el parámetro: id_vars; a las que sí, usando: value_vars
df_books.melt(id_vars='Year',value_vars='Genre')

     Year variable        value
0    2016    Genre  Non Fiction
1    2011    Genre      Fiction
2    2018    Genre  Non Fiction
3    2017    Genre      Fiction
4    2019    Genre  Non Fiction
..    ...      ...          ...
545  2019    Genre      Fiction
546  2016    Genre  Non Fiction
547  2017    Genre  Non Fiction
548  2018    Genre  Non Fiction
549  2019    Genre  Non Fiction

[550 rows x 3 columns]

In [21]:
#Con fill_value podemos indicar con que tipo de valor queremos rellenar los datos nulos
df_books.pivot_table(index='Author', columns='Year', values='User Rating', fill_value='-', aggfunc='mean').head(15)

Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Author,,,,,,,,,,,
Abraham Verghese,-,4.6,4.6,-,-,-,-,-,-,-,-
Adam Gasiewski,-,-,-,-,-,-,-,-,4.4,-,-
Adam Mansbach,-,-,4.8,-,-,-,-,-,-,-,-
Adir Levy,-,-,-,-,-,-,-,-,-,-,4.8
Admiral William H. McRaven,-,-,-,-,-,-,-,-,4.7,-,-
Adult Coloring Book Designs,-,-,-,-,-,-,-,4.5,-,-,-
Alan Moore,4.8,-,-,-,-,-,-,-,-,-,-
Alex Michaelides,-,-,-,-,-,-,-,-,-,-,4.5
Alice Schertle,-,-,-,-,-,4.9,-,-,-,-,-
Allie Brosh,-,-,-,-,4.7,-,-,-,-,-,-
American Psychiatric Association,-,-,-,-,4.5,4.5,-,-,-,-,-
American Psychological Association,4.5,4.5,4.5,4.5,4.5,4.5,4.5,4.5,4.5,4.5,-
Amor Towles,-,-,-,-,-,-,-,-,4.7,-,-
Amy Ramos,-,-,-,-,-,-,-,-,-,4.3,4.3
Amy Shields,-,-,-,-,-,-,-,-,-,-,4.8

In [24]:
#Utilizando los parámetros var_name='' y value_name='' podemos indicar el nomre de nuestras columnas
df_books.melt(id_vars='Year',value_vars='Genre', var_name='Variables', value_name='Valores')

     Year Variables      Valores
0    2016     Genre  Non Fiction
1    2011     Genre      Fiction
2    2018     Genre  Non Fiction
3    2017     Genre      Fiction
4    2019     Genre  Non Fiction
..    ...       ...          ...
545  2019     Genre      Fiction
546  2016     Genre  Non Fiction
547  2017     Genre  Non Fiction
548  2018     Genre  Non Fiction
549  2019     Genre  Non Fiction

[550 rows x 3 columns]